<html>
<head>
<style>
fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
</style>
</head>
<body>

<form action="" method="post">
  <fieldset>
    <legend>Enter your Password:</legend>
    <form action="" method="post">
    <label>Here</label>
      <input type="text" id="Url" name="url" placeholder="abcdefgh" size="50">
    <button type="submit">Submit</button>
    </form>
  </fieldset>
</form>

</body>
</html>